[*]
end_of_line = crlf

[*.xml]
indent_style = space

# Allow underscore for private fields
dotnet_naming_symbols.private_fields.applicable_kinds           = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.prefix_underscore.capitalization            = camel_case
dotnet_naming_style.prefix_underscore.required_prefix           = p

dotnet_naming_rule.private_fields_with_underscore.symbols       = private_fields
dotnet_naming_rule.private_fields_with_underscore.style         = prefix_underscore
dotnet_naming_rule.private_fields_with_underscore.severity      = suggestion

